{% block head %}
  <title>AppEvent - cards de eventos agendados</title>
{% endblock head %}

{% block content %}
  <section class="cards">
    {% include 'components/card.njk' %}
  </section>
{% endblock content %}