{% block head %}
  <link rel="stylesheet" href="/css/card.css">
{% endblock head %}

{% for card in cards %}
  <div class="card">
    
    <img src="{{card.image}}" alt="{{card.title}}">
   
    <div class="card-content">
      <h3>{{card.title}}</h3>
      <p>{{card.information}}</p>
      <div class="list-itens">
        <ul>
          <li>
            <span class="material-symbols-outlined">event_available</span> {{card.date}}</li>
          <li>
            <span class="material-symbols-outlined">pin_drop</span> {{card.city}} - {{card.uf}}</li>
          <li>
            <span class="material-symbols-outlined">person</span> {{card.organizer}}</li>
          <li>
            <span class="material-symbols-outlined">mail</span> {{card.email}}</li>
        </ul>
      </div>
    </div>
  </div>
{% endfor %}