{% block head %}
  <link rel="stylesheet" href="/css/card.css">
{% endblock head %}

<div class="card">
  <div class="card-image"></div>

  <div class="card-content">
    <h3>Palestra sobre carreiras na programação</h3>
    <p>Evento com ponto focal em apresentar um ciclo de carreira na programação e seus desafios</p>
    <div class="list-itens">
      <ul>
        <li>
          <span>icone</span>29/04/2022</li>
        <li>
          <span>icone</span>Porto Velho - RO</li>
        <li>
          <span>icone</span>Fcauldade Sapiens</li>
        <li>
          <span>icone</span>usuário@email.com</li>
      </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-image"></div>

  <div class="card-content">
    <h3>Palestra sobre carreiras na programação</h3>
    <p>Evento com ponto focal em apresentar um ciclo de carreira na programação e seus desafios</p>
    <div class="list-itens">
      <ul>
        <li>
          <span>icone</span>29/04/2022</li>
        <li>
          <span>icone</span>Porto Velho - RO</li>
        <li>
          <span>icone</span>Fcauldade Sapiens</li>
        <li>
          <span>icone</span>usuário@email.com</li>
      </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-image"></div>

  <div class="card-content">
    <h3>Palestra sobre carreiras na programação</h3>
    <p>Evento com ponto focal em apresentar um ciclo de carreira na programação e seus desafios</p>
    <div class="list-itens">
      <ul>
        <li>
          <span>icone</span>29/04/2022</li>
        <li>
          <span>icone</span>Porto Velho - RO</li>
        <li>
          <span>icone</span>Fcauldade Sapiens</li>
        <li>
          <span>icone</span>usuário@email.com</li>
      </ul>
    </div>
  </div>
</div>