<header>
  <div class="logo-header">
    <h1>AppEvent</h1>
  </div>
  <div class="links-menu">
    <a href="/listEvents">Lista de eventos</a>
    <a href="/about">Sobre</a>
  </div>
  <form action="/" method="GET">
    <input type="text" name="filter" placeholder="Buscar um evento" value={{ filter }}>
      <button type="submit">Buscar</button>
    </form>
</header>